.employer-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 28px 28px;
  padding-bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 -1px 6px rgba(0, 0, 0, 0.2);
}

.list-title {
  color: var(--strong-brown);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.employer-lstbody {
  margin-top: 16px;
  padding: 0 28px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.button-list {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  box-sizing: border-box;
}
