.navBarHome {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bannerBar {
    top: 80px;
    position: relative;
    width: 100%;
}

.bannerAdBar {
    position: relative;
    margin: 32px 0;
}

.employList {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 60px;
    position: relative;
    width: 100%;
    bottom: 0;
}