.post-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
}

.logo-post {
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: var(--main-shadow);
}

.post-company p {
  font-size: 24px;
}

.post-compInfo {
  color: var(--strong-brown);
}

.post-compInfo:hover {
  color: var(--main-color);
}

.company-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  margin-top: 20px;
  box-sizing: border-box;
}

.company-table {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: var(--main-shadow);
  width: 70%;
}

.company-table th {
  width: 100px;
}

.company-table input {
  border: none;
  background-color: white;
  font-size: 20px;
  color: var(--strong-brown);
  border-bottom: 1px solid var(--strong-brown);
  width: 100%;
}
