:root {
  --font-text: "Big Shoulders", sans-serif;
  --main-color: #b48f4c;
  --background-app: #fffecd;
  --strong-brown: #2b1c18;
  --light-color: rgb(255, 209, 124);
  --orange-color: #f39c37;
  --main-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  --strong-gray: rgb(48, 48, 48);
  --light-yellow: #fff9a8;
  --delete-color: rgb(185, 0, 0);
}
