.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.footer {
    width: 100%;
    position: relative;
}

.bannerEmploy {
    position: relative;
    width: 100%;
    top: 80px;
}

.employContainer {
    position: relative;
    margin-top: 120px;
    width: 100%;
}