.cv-container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-top: 0;
  border-radius: 12px;
  box-shadow: var(--main-shadow);
}

.cv-section {
  display: flex;
}

.cv-list {
  margin-right: 80px;
}

.cv-data {
  background-color: white;
  box-shadow: var(--main-shadow);
  border-radius: 12px;
  padding: 32px;
  box-sizing: border-box;
  height: fit-content;
  width: 320px;
}

.cv-data h1 {
  border-bottom: 1px solid gray;
  padding: 4px 0;
}

.cv-data p {
  border-bottom: 1px solid gray;
  padding: 4px 0;
}
