.recruitment-container {
  margin-top: 60px;
  margin-left: 60px;
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 32px 0;
  box-shadow: var(--main-shadow);
  border-radius: 8px;
}
