.employ-box {
  width: 240px;
  height: 320px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  margin: 12px 0;
}

.employ-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 0;
}

.employ-box:active {
  box-shadow: var(--main-shadow);
  transform: translate(2px, 2px);
}

.employ-avt {
  width: 240px;
  overflow: hidden;
  position: absolute;
  border-radius: 12px;
}

.employ-avt img {
  width: 100%;
}

.employ-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--strong-brown);
  height: 112px;
  align-self: flex-end;
  align-items: center;
  padding: 12px 16px 4px 16px;
  box-sizing: border-box;
  border-radius: 0 0 12px 12px;
  color: white;
  z-index: +1;
}

.store-name {
  font-weight: 600;
  font-size: 20px;
  flex-wrap: wrap;
  width: 90%;
  text-align: center;
}

.employ-pos,
.employ-sal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 8px;
  font-size: 18px;
  flex-wrap: nowrap;
  width: 240px;
  padding: 0 20px;
  box-sizing: border-box;
  font-weight: 200;
}
