.quiz-child {
  display: flex;
  margin: 12px 0;
  margin-left: 60px;
}

.quiz-part {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--strong-brown);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.ipQuiz-title {
  display: flex;
}

.quiz-ans {
  display: flex;
  flex-direction: column;
}

.ipQuiz {
  min-width: 600px;
  min-height: 100px;
  max-width: 600px;
  max-height: 100px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 16px;
}

.quizTitle {
  width: 600px;
  height: 40px;
  border: 0;
  background-color: white;
  font-size: 18px;
  border-bottom: 1px solid var(--strong-brown);
  outline: none;
}

.delete-quiz {
  color: white;
  border: 0;
  border-radius: 4px;
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
  height: 52px;
  align-self: center;
  background-color: rgb(185, 0, 0);
}
